@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$primary: #bbdc00;
$secondary: #d6fb00;
$dark: #191919;
$secondary-dark: #161616;
$light: #e3e3e3;
$borderRoundRadius: 50px;
$borderSquare: 16px;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::selection {
  background-color: #2141e0;
  color: $light;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
html {
  scroll-behavior: smooth;
  width: 100%;
  margin: 0;
}
body {
  background-color: $dark;
  width: 100%;
  overflow-x: hidden !important;
  font-family: "Kanit", sans-serif;
  margin: 0;
}
img {
  max-width: 100%;
  margin: 0;
}
button {
  font-family: "Kanit", sans-serif;
}
ul,
li {
  list-style: none;
  outline: none;
}
a {
  text-decoration: none;
  outline: none;
}
input {
  font-family: "Kanit", sans-serif !important;
}
// end global
// scroll-ui
html::-webkit-scrollbar {
  width: 12px;
}
html::-webkit-scrollbar-thumb {
  background-color: $primary;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: #7e9302;
}
html::-webkit-scrollbar-track {
  border-left: 1.5px solid #7d930233;
  background-color: #161616;
}
.scroll-btn {
  display: none;
}
.scroll-btn-active {
  display: flex;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 111111;
  animation: bounce 0.4s infinite alternate;
  animation-iteration-count: 1;
  transition: all 0.4s ease-in-out;
}
@keyframes bounce {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.scroll-img {
  background: #fff566;
  padding: 1.8rem 1.2rem;
  bottom: 2rem;
  right: 2.1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 100000;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s ease;
}
.scroll-img:hover {
  transform: scale(1.15);
  border-radius: 50px;
  background-color: #dfd42f;
}
// end scroll-ui
.header {
  width: 100%;
  background-color: $dark;
  border-bottom: 2px solid #ffffff0a;
  overflow: hidden;
  position: fixed;
  z-index: 1110000;
  padding: 2rem 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 93%;
  margin: 0 auto;
}
.logo {
  font-weight: 700;
  z-index: 999;
  font-size: 1.4rem;
  color: $primary;
  margin-top: 0.5px;
}
.logo-span {
  color: $light;
}
.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-menu .nav-item .nav-link {
  color: $light;
  text-transform: uppercase;
  font-size: 0.92rem;
  font-weight: 600;
  margin-right: 2.75rem;
  transition: all 0.15s ease-in;
}
.main-menu .nav-item .nav-link:hover {
  color: $primary;
}
.last-li {
  color: $primary !important;
  border-left: 1px solid #ffffff21;
  padding-left: 2.2rem;
}
.arrow-right-icon-div {
  margin-left: -4rem;
}
.nav-right-arrow-svg {
  padding-left: 2rem;
  margin-top: 3px;
  cursor: pointer;
}
.burger {
  display: none;
  z-index: 999;
}
.burger-svg {
  cursor: pointer;
}
// start mobile-navbar
@media (max-width: 992px) {
  .nav {
    max-width: 80%;
    margin: 0 auto;
  }
  .nav-link {
    margin-right: 0 !important;
    font-style: italic;
    font-size: 1.5rem !important;
    padding-bottom: 2rem !important;
  }
  .d-none-main-menu {
    display: none;
  }
  .main-menu-mobile {
    background: $dark;
    width: 100%;
    top: 0;
    max-width: 100%;
    height: 100vh;
    left: 0%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 56%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
  }
  .nav-item {
    padding-bottom: 3rem;
  }
  .burger {
    display: block;
  }
  .cancel-div {
    cursor: pointer;
  }
  .nav-right-arrow-svg {
    display: none;
  }
  .last-li {
    border-left: 0;
    padding-left: 0 !important;
    margin-left: 0 !important;
  }
}
@media (max-height: 460px) {
  .nav-item {
    padding-bottom: 1rem;
  }
}
@media (max-height: 280px) {
  .nav-item a {
    font-size: 1.1rem !important;
  }
}
// end header
.container-top {
  height: 96vh;
  display: flex;
  align-items: center;
  position: relative;
}
.container-left {
  max-width: 43%;
  margin: 0 auto;
}
.container-left h1 {
  font-size: 3.5rem;
  color: $light;
  font-weight: 700;
}
.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.landing-title-line {
  width: 25px;
  height: 10rem;
  background: $primary;
  border-radius: 2px;
}
.container-right {
  background-color: $primary;
  width: clamp(70%, 100%, 100%);
  height: clamp(85%, 96%, 97%);
  position: relative;
  background: $primary;
  max-width: 50%;
  min-height: 92vh;
  margin: 0;
}
.landing-text {
  font-size: 1.5rem;
  color: #e3e3e3d1;
  font-weight: 300;
  line-height: 1.25;
  margin: 2.5rem 0 4.5rem 0;
  line-height: 1.4;
}
.landing-img {
  position: relative;
  width: clamp(78%, 88%, 98%);
  bottom: -14%;
  right: -23%;
  transform: translate(0, 0);
}
.btn {
  padding: 0.9rem 2.5rem;
  border-radius: $borderSquare;
  font-size: 1.2rem;
  font-weight: 700;
  color: $light;
  transition: all 0.1s ease-in-out;
}
.btn1 {
  border: 4px solid $light;
  margin-right: 0.9rem;
}
.btn1:hover {
  background: $light;
  color: $dark;
}
.btn2 {
  background-color: $primary;
  color: $dark;
  padding: 0.88rem 2.5rem;
  border: 4px solid $primary;
}
.btn2:hover {
  border: 4px solid $light;
  background-color: $light;
  box-shadow: #ffffff11 0px 1px 1px 0px inset, #ffffff11 0px 20px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
// container-right mobile
@media (max-width: 1700px) {
  .landing-img {
    width: 77%;
  }
}
@media (max-width: 1580px) {
  .landing-img {
    width: 80%;
  }
  .container-right {
    height: 100vh;
  }
}
@media (max-width: 1330px) {
  .landing-img {
    width: 90%;
    bottom: -21%;
    right: -21%;
  }
}
@media (max-width: 1275px) {
  .landing-img {
    width: 75%;
    bottom: -22%;
    right: -21%;
  }
}
@media (max-width: 1068px) {
  .landing-img {
    width: 81%;
    bottom: -25%;
    right: -15%;
  }
}
@media (max-width: 992px) {
  .container {
    padding-top: 6rem;
    max-width: 100%;
  }
  .container-top {
    display: inline !important;
  }
  .container-left {
    max-width: 70%;
    margin: 0 auto;
  }
  .btn-flex {
    margin-bottom: 6rem;
  }
  .container-flex {
    display: flex;
    flex-direction: column;
  }
  .landing-title-line {
    width: 25rem;
    height: 0.8rem;
  }
  .container-top {
    padding-top: 9rem;
    text-align: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .container-right {
    max-width: 100%;
  }
  .landing-img {
    position: absolute;
    width: 60%;
    top: 52%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 800px) {
  .landing-img {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 600px) {
  .btn-flex {
    display: flex;
    flex-direction: column;
  }
  .btn1 {
    margin-bottom: 1.2rem;
    margin-right: 0 !important;
  }
  .btn2 {
    margin-bottom: 3rem;
  }
  .container-left {
    max-width: 80%;
    margin: 0 auto;
  }
  .landing-img {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
  }
  .container-flex {
    display: flex;
    flex-direction: column;
  }
  .landing-title-line {
    width: 16rem;
    height: 0.8rem;
  }
  .container-left h1 {
    font-size: 1.9rem;
  }
  .landing-text {
    font-size: 1.35rem;
  }
}
// container-left mobile
@media (max-width: 1610px) {
  .container-left {
    padding-top: 5rem;
  }
}
@media (max-width: 1472px) {
  .container-left h1 {
    font-size: 3rem;
  }
}
@media (max-width: 1072px) {
  .container-left h1 {
    font-size: 2.5rem;
  }
  .container-left p {
    font-size: 1.4rem;
  }
  .btn {
    padding: 0.7rem 2.2rem;
  }
}
// font-size on 992px display
@media (max-width: 992px) {
  .container-left h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 850px) {
  .container-left h1 {
    font-size: 3rem;
  }
}
@media (max-width: 595px) {
  .container-left h1 {
    font-size: 2.5rem;
  }
}
// END // font-size on 992px display
@media (max-width: 1665px) {
  .container-right .landing-img {
    width: 77%;
  }
}
@media (max-height: 597px) {
  .landing-img {
    width: 80%;
    bottom: -14%;
    right: -30%;
  }
  .container-right {
    min-height: 100vh;
  }
}
@media (max-width: 281px) {
  .landing-title {
    font-size: 1.6rem !important;
  }
  .landing-text {
    font-size: 1.25rem !important;
  }
  .btn {
    font-size: 1.1rem !important;
  }
  .container-right {
    min-height: 70vh;
  }
}
@media (max-height: 546px) {
  .container-right {
    min-height: 140vh;
  }
  .landing-img {
    width: 58%;
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
  }
}
// end landing
.about {
  max-width: 93%;
  margin: 0 auto;
}
.about-top-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8rem;
}
.about-title-text {
  color: $dark;
  font-size: 1.7rem;
  font-weight: 700;
  background: $primary;
  border-radius: $borderSquare;
  padding: 1rem 1.6rem;
  text-align: center;
  width: 14%;
  display: inline-block;
}
.about-line {
  width: 100%;
  background: #e3e3e324;
  height: 1px;
  margin-left: 2rem;
}
// start about section mobile version
@media (max-width: 1665px) {
  .about-title-text {
    width: 24%;
    text-align: center;
  }
}
@media (max-width: 1075px) {
  .about-title-text {
    width: 35%;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .about-top-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .about-title-text {
    margin-top: 2.5rem;
    width: auto !important;
    text-align: center !important;
  }
  .about-line {
    margin-left: 0 !important;
  }
}
@media (max-width: 281px) {
  .about-title-text {
    width: 61% !important;
    text-align: center !important;
    font-size: 1.2rem;
  }
}
// start info section
.info {
  margin-top: 6rem;
  background: linear-gradient($dark, $dark) padding-box,
    linear-gradient(to bottom, $primary, $primary, $dark, $dark) border-box;
  border: 4px solid transparent;
  border-radius: $borderSquare;
  box-shadow: #defa3e0c 0px 60px 40px -7px;
}
.info-top {
  background-color: $secondary-dark;
  border-radius: $borderSquare;
  padding: 4rem;
}
.info-box {
  color: $light;
}
.info-title {
  font-size: 5rem;
  color: $light;
  font-weight: 600;
  max-width: 77%;
  font-style: italic;
  margin: 5rem 0 0 1rem;
}
.info-flex {
  display: flex;
  align-items: center;
  padding: 4rem 5rem 7rem 5rem;
}
.info-wrapper-top {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(294px, 1fr));
  align-items: center;
  justify-content: center;
  max-width: 70%;
  margin: 0 auto;
}
.info-content {
  display: flex;
  align-items: center;
}
.info-box {
  padding: 3rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.info-content-h5 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 1.5rem;
}
.info-line {
  height: 5rem;
  width: 8px;
  background: $primary;
  border-radius: 2px;
}
.info-span {
  color: $primary;
}
.info-text {
  color: #e3e3e3d4;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4;
  max-width: 67%;
  margin-left: 2rem;
}
.info-content {
  text-align: left;
  justify-content: left;
}
.info-box-1 {
  border-right: 1px solid #ffffff2b;
  border-bottom: 1px solid #ffffff2b;
}
.info-box-2 {
  border-right: 1px solid #ffffff2b;
  border-bottom: 1px solid #ffffff2b;
}
.info-box-3 {
  border-bottom: 1px solid #ffffff2b;
}
.info-box-4 {
  border-right: 1px solid #ffffff2b;
}
.info-box-5 {
  border-right: 1px solid #ffffff2b;
}
@media (max-width: 1555px) {
  .info-wrapper-top {
    max-width: 90%;
  }
}
@media (max-width: 1240px) {
  .info-wrapper-top {
    max-width: 100%;
  }
}
@media (max-width: 1140px) {
  .info-line {
    height: 8rem;
  }
}
@media (max-width: 996px) {
  .info-title {
    font-size: 3rem;
  }
}
@media (max-width: 1140px) {
  .info-line {
    height: 8rem;
  }
}
@media (max-width: 1110px) {
  .info-box-1 {
    border-bottom: 1px solid #ffffff2b;
    border-right: 0 !important;
  }
  .info-box-2 {
    border-bottom: 1px solid #ffffff2b;
    border-right: 0 !important;
  }
  .info-box-4 {
    border-bottom: 1px solid #ffffff2b;
    border-right: 0 !important;
  }
  .info-box-5 {
    border-right: 0 !important;
  }
}
@media (max-width: 992px) {
  .info-top {
    text-align: center;
  }
  .info-title {
    max-width: 100%;
    margin: 0 auto;
    font-size: 3rem;
  }
  .info-line {
    display: none;
  }
  .info-flex {
    padding: 0 !important;
  }
  .info-text {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 3rem;
    line-height: 1.4;
    margin-left: 0 !important;
    max-width: 100%;
    margin-bottom: 4rem;
  }
  .info-content {
    justify-content: left;
    padding: 3rem 2rem 2rem 0rem !important;
  }
}
@media (max-width: 768px) {
  .info-title {
    font-size: 2rem;
  }
}
@media (max-width: 290px) {
  .info-top {
    padding: 2rem;
  }
  .info-wrapper-top {
    grid-template-columns: repeat(auto-fill, minmax(219px, 1fr));
  }
}
// end about
// start pilates
.pilates {
  background: $light;
  max-width: 100%;
  padding: 8rem 5rem;
  margin-top: 10rem;
}
.pilates-top {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  align-items: center;
  max-width: 93%;
  margin: 0 auto;
}
.pilates-title {
  font-size: 4rem;
  font-weight: 800;
  color: $dark;
}
.pilates-span {
  font-style: italic;
  font-weight: 800;
}
.pilates-text {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 2rem 0;
  line-height: 1.4;
  margin-bottom: 4.2rem;
  color: #484747;
}
.pilates-link {
  background: $primary;
  padding: 1rem 2.5rem;
  border-radius: 16px;
  color: $dark;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.1s ease-in;
}
.pilates-link:hover {
  background-color: $dark;
  box-shadow: #ffffff29 0px 1px 1px 0px inset, #ffffff29 0px 20px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  color: $light;
}
.pilates-left {
  grid-column: 1/4;
}
.pilates-right {
  grid-column: 5/9;
}
@media (max-width: 1412px) {
  .pilates-title {
    font-size: 3.5rem;
  }
  .pilates-text {
    margin-bottom: 3.5rem;
    font-size: 1.3rem;
  }
  .pilates-link {
    font-size: 1.2rem;
    padding: 0.7rem 2rem;
  }
}
@media (max-width: 1337.33px) {
  .pilates-left {
    grid-column: 1/3;
  }
  .pilates-right {
    grid-column: 4/9;
  }
}
@media (max-width: 1160px) {
  .pilates-top {
    max-width: 100%;
  }
  .pilates-title {
    font-size: 3rem;
  }
}
@media (max-width: 1077px) {
  .pilates-right {
    grid-column: 3/8;
  }
  .pilates-top {
    grid-gap: 2rem;
  }
}
@media (max-width: 992px) {
  .pilates-top {
    display: flex;
    flex-direction: column;
    grid-gap: 4rem;
  }
  .pilates-right {
    margin-top: 3rem;
  }
}
@media (max-width: 768px) {
  .pilates {
    padding: 3rem;
  }
  .pilates-title {
    margin-top: 5rem;
    font-size: 2.2rem;
  }
}
@media (max-width: 568px) {
  .pilates {
    padding: 3rem;
  }
  .pilates-link {
    font-size: 1.1rem;
    padding: 0.5rem 1.8rem;
  }
}
@media (max-width: 290px) {
  .pilates {
    padding: 2rem;
  }
}
// end pilates

// start slider

/* Carousel container */
.carousel-container {
  margin-top: 4rem !important;
}
/* Carousel item */
.carousel {
  max-width: 55%;
  margin: 0 auto;
}
.carousel-item {
  display: none;
  text-align: center;
  background: linear-gradient($dark, $dark) padding-box,
    linear-gradient(to bottom, $primary, $primary, $primary, $dark, $dark)
      border-box;
  border: 6px solid transparent;
  border-radius: $borderSquare;
  padding: 7rem 6rem;
}

/* Active carousel item */
.carousel-item.active {
  display: block;
}
.trainers-main-title {
  text-align: center;
  font-size: 6rem;
  font-style: italic;
  font-weight: 600;
  color: #fff;
  padding-top: 7rem;
}
/* Navigation buttons */
.carousel-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}
.carousel-flex .trainer-icon {
  width: 7rem;
}
.slider-text {
  color: $light;
  font-size: 1.8rem;
  margin: 2rem 0;
  line-height: 1.4;
  font-weight: 300;
}
.vectorLeft {
  margin-left: 6rem;
  padding: 1rem;
  background: #e3e3e309;
  border-radius: 16px;
}
.vectorRight {
  background: #e3e3e309;
  margin-right: 6rem;
  padding: 1rem;
  border-radius: 16px;
}
.vector {
  cursor: pointer;
  width: 4rem;
}
.carousel-info {
  margin-top: 3rem;
}
.carousel-info-title {
  font-weight: 600;
  font-size: 2.5rem;
  color: $primary;
}
.carousel-info-text {
  color: $light;
  font-size: 1.2rem;
  margin-top: 0.7rem;
}
.trainer-box-2 {
  transition: all 1s ease-in-out;
  transition-delay: 2s;
  background: linear-gradient(#191919, #191919) padding-box,
    linear-gradient(to bottom, #00dcdc, #00dcdc, #00dcdc, #191919, #191919)
      border-box;
}
.carousel-2-title {
  color: #00dcdc;
}
.trainer-box-3 {
  transition: all 1s ease-in-out;
  transition-delay: 2s;
  background: linear-gradient(#191919, #191919) padding-box,
    linear-gradient(to bottom, #9868e6, #9868e6, #9868e6, #191919, #191919)
      border-box;
}
.carousel-3-title {
  color: #9868e6;
}

.trainer-box-4 {
  background: linear-gradient(#191919, #191919) padding-box,
    linear-gradient(to bottom, #e91a1a, #e91a1a, #e91a1a, #191919, #191919)
      border-box;
}
.carousel-4-title {
  color: #e91a1a;
}

.trainer-box-5 {
  background: linear-gradient(#191919, #191919) padding-box,
    linear-gradient(to bottom, #fff566, #fff566, #fff566, #191919, #191919)
      border-box;
}
.carousel-5-title {
  color: #fff566;
}
#trainers {
  padding-bottom: 10rem;
}
.main-trainer0 {
  background: linear-gradient(180deg, #bbdc00, transparent);
}
.main-trainer1 {
  background: linear-gradient(180deg, #00dcdc, transparent);
}
.main-trainer2 {
  background: linear-gradient(180deg, #9868e6, transparent);
}
.main-trainer3 {
  background: linear-gradient(180deg, #e91a1a, transparent);
}
.main-trainer4 {
  background: linear-gradient(180deg, #fff566, transparent);
}
@media (max-width: 1614px) {
  .carousel-flex {
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1322px) {
  .vectorRight {
    margin-right: 0;
  }
  .vectorLeft {
    margin-left: 0;
  }
}
@media (max-width: 1104px) {
  .vectorRight .vectorRight {
    margin-right: 2rem;
  }
  .carousel {
    max-width: 86%;
    margin: 0 auto;
  }
}

@media (max-width: 796px) {
  .trainers-main-title {
    font-size: 3rem;
  }
  .slider-text {
    font-size: 1.5rem;
  }
  .carousel-info-title {
    font-size: 2rem;
  }
}
@media (max-width: 700px) {
  .carousel-flex {
    display: flex;
    flex-direction: column;
  }
  .carousel-item {
    padding: 7rem 3rem;
  }
  .vectorLeft {
    margin-bottom: 2rem;
  }
  .vectorRight {
    margin-top: 2rem;
  }
}
@media (max-width: 290px) {
  .carousel {
    max-width: 95%;
  }
}
// end slider
// start pricing section
.main-pricing {
  max-width: 93%;
  margin: 0 auto;
}
.pricing-top {
  display: grid;
  margin-top: 8rem;
  margin-bottom: 10rem;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
}
.pricing-box {
  background: linear-gradient(#191919, #191919) padding-box,
    linear-gradient(to bottom, #bbdc00, #bbdc00, #191919, #191919) border-box;
  border: 3px solid transparent;
  border-radius: $borderSquare;
  padding: 4rem;
}
.center-date-price {
  text-align: center;
}
.price-index-3 {
  background: linear-gradient(#191919, #191919) padding-box,
    linear-gradient(to bottom, #ffd601, #ffd601, #191919, #191919) border-box;
  border: 4px solid transparent;
}
.date-of-pricingBox {
  font-size: 2.2rem;
  color: $light;
  border-bottom: 1px solid #eeeeee20;
  padding-bottom: 2rem;
  font-weight: 700;
}
.price-ul {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}
.price-text {
  color: $light;
  font-size: 1.5rem;
  margin-left: 1rem;
  font-weight: 300;
  line-height: 1.4;
}
.price-title {
  font-size: 5rem;
  color: $light;
  font-weight: 700;
  letter-spacing: -1px;
  font-style: italic;
  margin: 3rem 0;
}
.price-sign {
  color: $primary;
  margin-left: -0.7rem;
  font-size: 2.6rem;
}
.price-sign-diff {
  color: #ffd601;
}
.price-btn {
  background: $primary;
  display: block;
  margin-top: 4rem;
  text-align: center;
  padding: 1rem;
  border-radius: 16px;
  color: $dark;
  font-weight: 700;
  font-size: 1.3rem;
  transition: all 0.4s ease-in-out;
}
.price-btn:hover {
  background-color: $light;
  box-shadow: #ffffff29 0px 1px 1px 0px inset, #ffffff29 0px 20px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.last-price-btn {
  background-color: #ffd601;
}
.last-price-btn:hover {
  background-color: $light;
  color: $dark;
}
@media (max-width: 1652px) {
  .pricing-box {
    padding: 4rem 2rem;
  }
  .price-text {
    font-size: 1.4rem;
  }
  .price-svg {
    width: 1.5rem;
  }
}
@media (max-width: 1300px) {
  .pricing-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }
}
@media (max-width: 992px) {
  .pricing-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
  }
}
@media (max-width: 340px) {
  .info-top {
    padding: 2rem;
  }
  .pricing-top {
    grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
  }
  .info-wrapper-top {
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
  }
}
@media (max-width: 290px) {
  .pricing-top {
    grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));
  }
}
// end pricing section
// start footer
.footer {
  position: relative;
  padding-bottom: 5rem;
}
.pop-up-text {
  display: flex;
  align-items: center;
  color: $primary;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 800;
}
.pop-up-text span {
  margin-left: 1rem;
}
.social-icon {
  margin-bottom: 7rem;
}
.footer-top p {
  text-align: left;
  color: $light;
  line-height: 2.5;
  font-size: 1.3rem;
  font-weight: 300;
  transition: all 0.2s ease;
}
.footer-left,
.footer-right {
  text-align: left;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 75%;
  margin: 0 auto;
}
.social-media-top {
  background: $light;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.social-child-icon {
  filter: brightness(0.7);
  height: 45.5vh;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.4s ease;
  display: block;
}
.social-child-icon:hover {
  transform: scale(0.9);
  border-radius: $borderSquare;
  border: 10px solid $primary;
  z-index: 2;
}
.insta-icon {
  width: 3.4rem;
  margin-right: 1.7rem;
}
.footer-p-social {
  font-size: 3rem;
  font-weight: 800;
  color: $dark;
}
.social-icon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.footer-logo {
  font-size: 3rem;
  color: $primary;
  font-weight: 800;
  font-style: italic;
  margin-bottom: 2.5rem;
}
.footer-icon {
  cursor: pointer;
  width: 35px;
  transition: all 0.3s ease;
}
.footer-icon:hover {
  transform: scale(1.1);
  opacity: 0.6;
}
.footer-icon-middle {
  margin: 0 3rem;
}
.footer-left-title,
.footer-right-title {
  color: $light;
  font-weight: 700;
  font-size: 2.6rem;
  border-bottom: 1px solid #ffffff1c;
  padding-bottom: 1.5rem;
  font-style: italic;
}
.footer-right-flex,
.footer-left-flex {
  margin-top: 2rem;
}
.footer-right p:hover,
.footer-left p:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 992px) {
  .social-icon {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));
  }
  .footer-p-social {
    font-size: 2.5rem;
  }
}
@media (max-width: 800px) {
  .insta-icon {
    width: 2.4rem;
  }
  .footer-p-social {
    font-size: 2rem;
  }
}
@media (max-width: 750px) {
  .social-media-top {
    display: flex;
    flex-direction: column;
  }
  .insta-icon {
    width: 3rem;
    margin-bottom: 2rem;
    margin-right: 0;
  }
  .footer-p-social {
    font-size: 2.5rem;
  }
}
@media (max-width: 1125px) {
  .footer-left-title,
  .footer-right-title {
    font-size: 2rem;
  }
  .footer-middle {
    margin: 8rem 0;
  }
  .footer-logo {
    font-size: 2.5rem;
  }
}
@media (max-width: 992px) {
  .footer-top {
    display: block;
  }
  .footer-middle {
    margin: 8rem 0;
  }
}
@media (max-width: 1450px) {
  .footer-top {
    max-width: 90%;
  }
}
// end footer
// start contact-page >>>
.contact {
  position: relative;
}
.contact-top {
  width: 100%;
  height: 50vh;
  position: relative;
  background-color: #111111;
}
// global ^^^ .contact-page ქვემოთა კონტაქტის სიგრძესაც შეცვლისს!
.contact-container-top {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  text-align: center;
  grid-gap: 3rem;
  align-items: center;
  margin-top: 6rem;
}
.contact-info-text {
  font-size: 2rem;
  font-weight: 700;
  color: $light;
  margin: 1.3rem 0rem 1rem 0;
}
.contact-container-top p {
  color: $light;
  font-size: 1.4rem;
  font-weight: 300;
}
.contact-icon {
  background-color: $primary;
  border-radius: $borderSquare;
  padding: 1.2rem;
  width: 5.3rem;
  margin-bottom: 1.5rem;
}
.contact-wrapper-box {
  padding: 2.5rem;
  box-shadow: #bbdc000e 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, #bbdc0017 0px -2px 6px 0px inset;
  transition: all 0.2s ease-in;
  cursor: pointer;
  border-radius: $borderSquare;
}
.contact-wrapper-box:hover {
  box-shadow: #bbdc0046 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 2.5rem;
  transform: scale(1.04);
}
.message-icon {
  width: 6rem;
}
.email-icon {
  width: 6rem;
}
.contact-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: $light;
  font-weight: 800;
  font-style: italic;
  margin-top: 1rem;
}
.contact-block {
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  border-radius: 50px;
  margin-right: 2rem;
  background-color: $primary;
}
.contact-title {
  display: flex;
  align-items: center;
  font-size: 4rem;
  color: $light;
  font-weight: 800;
  font-style: italic;
  margin-top: 2rem;
}
// end contact-page
.contact-sign {
  margin: 20rem 0;
}
.contact-sign-top {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  align-items: center;
  position: relative;
}
.contact-sign-right h3 {
  font-size: 4.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  color: $light;
  margin-bottom: 2rem;
}
.contact-flex input {
  border: 2px solid #e3e3e31b;
  border-radius: $borderSquare;
  margin: 1rem 0;
  background: transparent;
  padding: 1rem;
  color: $light;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  transition: all 0.4s ease;
}
.contact-flex input:hover {
  border: 2px solid $light;
}
.contact-sign-right {
  background-color: #111111;
  height: 120%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  padding: 0 5rem;
  border-radius: 0 16px 16px 0px;
  background: linear-gradient(#161616, #161616) padding-box,
    linear-gradient(var(--angle), transparent, $primary) border-box;
  animation: 30s rotate linear infinite;
  border: 3px solid transparent !important;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.contact-main-image {
  border-radius: 16px 0 0 16px;
}
.contact-flex {
  display: flex;
  flex-direction: column;
}
textarea {
  min-width: 80%;
  margin-top: 1rem;
  font-family: "Kanit", sans-serif;
  max-width: 100%;
  max-height: 200px;
  background: rgb(25, 25, 25);
  border: none;
  color: $light;
  font-size: 1.2rem;
  outline: none;
  padding: 1.5rem;
  border-radius: 16px;
  height: 208px;
  width: 566px;
  font-weight: 500;
  transition: 0.4s ease-in-out;
  letter-spacing: 0.2px;
  border: 2px solid #e3e3e31b;
}
textarea:hover {
  border: 2px solid $light;
}
textarea::-webkit-scrollbar {
  background-color: $secondary-dark;
  width: 0.7rem;
}
textarea::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: $borderSquare;
}
.contact-form-btn {
  background: $primary;
  font-weight: 800;
  font-size: 1.4rem;
  color: $dark;
  justify-content: center;
  display: flex;
  margin-top: 1.6rem;
  padding: 1.2rem 2rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 16px;
  border: 3px solid $primary;
  transition: all 0.3s ease;
}
.contact-form-btn:hover {
  background-color: $light;
  box-shadow: #bbdc004c 0px 1px 1px 0px inset, #bbdc004c 0px 20px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border: 3px solid $primary;
}
// start contact-media
@media (max-width: 1300px) {
  .contact-sign-right h3 {
    font-size: 3.5rem;
  }
  .contact-container-top {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}
@media (max-width: 1063.33px) {
  .contact-main-image {
    width: 100%;
    border-radius: 16px 16px 0 0;
  }
  .contact-sign-right {
    border-radius: 0 0 16px 16px;
  }
  .contact-sign-right h3 {
    font-size: 2.5rem;
  }
  .contact-flex input {
    font-size: 0.8rem;
  }
  .contact-sign-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  }
}
@media (max-width: 992px) {
  .contact-sign {
    margin: 12rem 0;
  }
  .contact-sign-right {
    padding: 0 2rem;
  }
  .contact-sign-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(388px, 1fr));
  }
}
@media (max-width: 796px) {
  .contact-sign-top {
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr)) !important;
  }
  .contact-title {
    font-size: 2.5rem;
  }
}
@media (max-width: 360px) {
  .contact-container-top {
    grid-template-columns: repeat(auto-fit, minmax(273px, 1fr));
  }
}
@media (max-height: 415px) {
  .contact-top {
    height: 80vh;
  }
}
@media (max-width: 310px) {
  .contact-title {
    font-size: 2rem;
  }
  .contact-block {
    width: 1.2rem;
    height: 1.2rem;
  }
  .contact-container-top {
    grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
  }
  .contact-sign-top {
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr)) !important;
  }
  .contact-wrapper-box {
    padding: 1.5rem;
  }
  .contact-container-top p {
    font-size: 1.2rem;
  }
  .contact-sign-right {
    padding: 0 1rem;
  }
  .contact-sign-right h3 {
    font-size: 2rem;
  }
  .contact-sign-top {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)) !important;
  }
}
// start news
.news-top {
  width: 100%;
  height: 50vh;
  position: relative;
  background-color: #111111;
}
.news-flex-box {
  background: #0000003b;
  border-radius: 16px;
  padding: 2rem;
}
.news-flex {
  margin: 11rem 0;
}
.news-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: $light;
  font-weight: 800;
  font-style: italic;
  margin-top: 1rem;
}
.news-block {
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  border-radius: 50px;
  margin-right: 2rem;
  background-color: $primary;
}
.news-title {
  display: flex;
  align-items: center;
  font-size: 4rem;
  color: $light;
  font-weight: 800;
  font-style: italic;
  margin-top: 2rem;
}
.news-flex-top {
  max-width: 93%;
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(408px, 1fr));
}
.flex-item {
  cursor: pointer;
  position: relative;
}
.news-main-png:hover {
  transform: scale(1.02);
  filter: contrast(0.9);
}
.news-main-png {
  transition: all 0.4s ease;
  background: linear-gradient($dark, $dark) padding-box,
    linear-gradient(to bottom, $primary, $primary, $dark, $dark) border-box;
  border: 4px solid transparent;
  border-radius: $borderSquare;
  overflow: hidden;
  position: relative;
}
.flex-main-title {
  font-size: 1.8rem;
  color: #e3e3e3f1;
  font-weight: 800;
  margin: 2rem 0rem;
  line-height: 1;
}
.news-date {
  color: $dark;
  background: $primary;
  position: absolute;
  bottom: 1%;
  border-radius: 0 $borderSquare 0 $borderSquare;
  padding: 1rem 2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.pop-up-top {
  align-items: center;
  max-width: 93%;
  margin: 0 auto;
  background: transparent;
  border-radius: 16px;
  height: 100vh;
  padding: 3rem;
  margin-top: 0rem;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.pop-up-news {
  display: none;
}
.pop-up-title {
  color: $primary;
  font-size: 7rem;
  font-weight: 800;
}
.pop-up-main-text {
  color: #e3e3e3eb;
  font-size: 1.7rem;
  font-weight: 200;
  line-height: 1.4;
  margin-top: 2rem;
}
.pop-up-news-active {
  display: grid;
  position: fixed;
  background: $dark;
  z-index: 1210000;
  max-height: 100vh;
  width: 100%;
  animation: zoomIn 0.2s infinite alternate;
  animation-iteration-count: 1;
  transition: all 1s ease-in;
}
@keyframes zoomIn {
  0% {
    border-radius: 50%;
    opacity: 0.8;
    transform: scale(0.5);
  }
  50% {
    border-radius: 15%;
    opacity: 0.8;
    transform: scale(0.7);
  }
  80% {
    border-radius: 15%;
    opacity: 0.9;
    transform: scale(0.9);
  }
  100% {
    opacity: 0.9;
    border-radius: 0;
    transform: scale(1);
  }
}
@media (max-width: 992px) {
  .news-title {
    font-size: 2.5rem;
  }
  .news-block {
    width: 1.2rem;
    height: 1.2rem;
  }
  .news-main-png {
    width: 100%;
  }
  .news-flex-top {
    grid-template-columns: repeat(auto-fit, minmax(294px, 1fr));
  }
}
@media (max-height: 415px) {
  .news-top {
    height: 80vh;
  }
}
@media (max-width: 290px) {
  .news-flex-top {
    grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));
  }
  .news-date {
    color: #191919;
    background: #bbdc00;
    position: absolute;
    bottom: 5%;
    border-radius: 0 16px 0 16px;
    padding: 1rem 2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1rem;
  }
}
// end news
// begin: start-trial section
.trial {
  overflow: hidden;
}
.trial-top {
  max-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(712px, 1fr));
  height: 100vh;
}
.trial-mainImg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: saturate(0.01);
  filter: brightness(0.3);
}
.trial-left {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 86%;
  margin: 0 auto;
  margin-top: 4.5rem;
}
.front-trial-text {
  color: $primary;
  font-weight: 500;
  display: flex;
  margin-bottom: 1.6rem;
  align-items: center;
  font-size: 1.2rem;
}
.line-trial-text {
  background: $primary;
  width: 30px;
  height: 1px;
  margin-right: 1rem;
}
.trial-title {
  color: $light;
  font-weight: 700;
  font-size: 3.5rem;
}
.trial-text-main {
  color: #e3e3e394;
  font-weight: 300;
  font-size: 1.3rem;
  margin: 2rem 0 4rem 0;
  line-height: 1.3;
  max-width: 87%;
}
.trial-flex-card {
  display: flex;
  position: relative;
}
.trial-flex-card input {
  background: transparent;
  border: 1px solid #a5a5a5;
  border-radius: 16px;
  padding: 1.3rem 2rem;
  width: 100%;
  color: $light;
  cursor: default;
  font-size: 1.1rem;
  font-weight: 500;
}
select {
  cursor: pointer;
}
.z-index-icon {
  z-index: -1;
}
.trial-select-flex {
  display: flex;
  position: relative;
}
.select-icon {
  position: absolute;
  bottom: 33%;
  right: 8%;
}
.trial-flex-card-2 {
  margin: 1rem 0;
}
.trial-container {
  display: flex;
}
.trial-select-flex {
  width: 100%;
}
.trial-selector-1 {
  margin-right: 1rem;
}
.trial-trainer-selector {
  padding: 1.2rem 2rem;
  width: 100%;
  border-radius: 16px;
  background: transparent;
  border: 1px solid #a5a5a5;
  outline: none;
  color: #a5a5a5;
  appearance: none;
  font-weight: 500;
  font-size: 1.1rem;
  font-family: "Kanit", sans-serif;
}
.trial-trainer-selector option {
  background-color: $dark;
  cursor: pointer;
  border-radius: $borderSquare;
  font-size: 1.1rem;
  color: $light;
}
.trial-btn-container {
  display: flex;
  width: 102.2%;
  align-items: center;
}
.trial-btn {
  width: 100%;
  text-align: center;
  padding: 1.5rem 2rem;
  border: 1px solid #a5a5a5;
  color: $light;
  margin-top: 2rem;
  font-size: 1.1rem;
  border-radius: $borderSquare;
  margin-top: 1rem;
  cursor: pointer;
}
.trial-btn-1 {
  margin-right: 1rem;
  background-color: $primary;
  color: $dark;
  border: none;
  font-weight: 700;
  font-size: 1.6rem;
  transition: all 0.3s ease;
  padding: 1.2rem;
}
.trial-btn-1:hover {
  background-color: $light;
  box-shadow: #ffffff11 0px 1px 1px 0px inset, #ffffff11 0px 20px 100px -20px,
    #0000004d 0px 30px 60px -30px;
}
.trial-btn-2 {
  margin-right: 1rem;
  background-color: #a5a5a50a;
  color: #e2bf04;
  border: none;
  font-weight: 700;
  z-index: -1;
  font-size: 1.6rem;
  border: 2px solid #e2bf04;
  cursor: auto;
}
.user-icon {
  position: absolute;
  bottom: 33%;
  left: 42%;
}
.react-datepicker-wrapper {
  width: 100%;
  cursor: default;
}
.calendar-flex {
  display: flex;
  cursor: pointer;
}
.calendar-icon {
  position: absolute;
  bottom: 22%;
  right: 3.4%;
  z-index: -1;
}
.react-datepicker {
  z-index: 11111 !important;
  width: 37rem !important;
  border-radius: $borderSquare !important;
  background: $dark !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset !important;
}
.react-datepicker__day--selected {
  background-color: $primary !important;
  color: $dark !important;
}
.react-datepicker__day {
  transition: all 0.2s ease;
  border: 1px solid #2b2b2b70 !important;
}
.react-datepicker__day:hover {
  background-color: #e2bf04 !important;
  border-radius: 10px !important;
  color: $dark !important;
}
.react-datepicker__header {
  background-color: #e2bf04 !important;
}
.react-datepicker-week {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.react-datepicker__month-container {
  font-family: "Kanit", sans-serif !important;
}
.react-datepicker__current-month {
  position: relative !important;
  font-size: 2.3rem !important;
}
.react-datepicker__triangle {
  display: none !important;
}
.react-datepicker__month-container {
  width: 37rem !important;
}
.react-datepicker__header {
  padding: 1rem !important;
  border: none !important;
}
.react-datepicker__navigation-icon--next {
  color: $dark !important;
}
.react-datepicker-popper {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.calendar-icon-wrapper {
  display: none;
}
.calendar-icon-wrapper-active {
  display: block;
  position: fixed !important;
  top: 10% !important;
  right: 5% !important;
  z-index: 11111111 !important;
  cursor: pointer;
}
.react-datepicker__navigation--next {
  background: #000 !important;
  border-radius: $borderRoundRadius !important;
  position: absolute !important;
  right: 19px !important;
  height: 33px !important;
  width: 33px !important;
  top: 18px !important;
}
.react-datepicker__navigation--previous {
  background: #000 !important;
  border-radius: 50px !important;
  position: absolute !important;
  left: 19px !important;
  height: 33px !important;
  width: 33px !important;
  top: 19px !important;
}
.react-datepicker__navigation-icon--previous {
  right: 1px !important;
  top: 4px !important;
}
.react-datepicker__day-name {
  margin-top: 1.5rem !important;
  width: 4.3rem !important;
  font-size: 1.1rem !important;
  font-weight: 700 !important;
  background: #ffffff55 !important;
  border: 2px solid #000000c5 !important;
  border-radius: $borderRoundRadius !important;
  color: $dark !important;
  line-height: 2rem !important;
  height: 3.5vh !important;
  margin: 0.4rem !important;
}
.react-datepicker__week {
  color: #fff !important;
  margin: 1rem !important;
}
.react-datepicker__day--keyboard-selected {
  background-color: #e2bf04 !important;
}
.react-datepicker__day {
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 1.1rem !important;
  padding: 0.4rem 1.6rem !important;
  border-radius: 10px !important;
  width: 4rem !important;
  margin: 0.3rem !important;
}
.react-datepicker__day:hover {
  color: $dark !important;
}
.react-datepicker__day-names {
  margin-left: -4px !important;
  margin-top: 1.7rem !important ;
}
.react-datepicker__navigation-icon--next {
  left: 1px !important;
  top: 3px !important;
}
.datepicker-placeholder {
  width: 100%;
}
.datepicker-p {
  position: absolute;
  top: 38%;
  color: #757575;
  left: 4.3%;
  cursor: default;
  font-size: 1.1rem;
  font-weight: 500;
}
.error-text {
  position: absolute;
  right: 10%;
  bottom: 21%;
  animation: pop-up 1.2s infinite alternate;
  color: #e91a1a;
  background: #e91a1a2b;
  padding: 0.5rem 0.7rem;
  border-radius: 0 16px;
}
.name-error {
  position: absolute;
  top: -47%;
  left: 2%;
  z-index: 100;
  color: #fff;
  background-color: #5d0dde;
  padding: 0.5rem 0.9rem;
  border-radius: 16px 16px 0px 0;
}
.number-error {
  position: absolute;
  top: -47%;
  right: 2%;
  z-index: 100;
  color: #fff;
  background-color: #5d0dde;
  padding: 0.5rem 0.9rem;
  border-radius: 16px 16px 0px 0;
}
.date-error {
  position: absolute;
  top: 1%;
  right: 0.2%;
  z-index: 100;
  color: #fff;
  background-color: #5d0dde;
  padding: 1.6rem 1.65rem;
  border-radius: 16px 16px 16px 0px;
}
.name-error,
.number-error,
.date-error {
  max-height: 4.5rem;
}
.trial-btn-p {
  padding: 1.65rem;
}
#username-input {
  position: relative;
  overflow: hidden;
  margin-right: 1rem;
  cursor: auto;
}
#phoneNumber-input {
  cursor: auto;
}
.phone-svg {
  position: absolute;
  width: 2rem;
  right: 3.5%;
  top: 28%;
}
@keyframes pop-up {
  0% {
    color: #e91a1a;
    background: #e91a1a2b;
  }
  100% {
    color: #ff1010;
    background: #df070763;
  }
}
@media (max-width: 1490px) {
  .trial-title {
    font-size: 2.9rem;
  }
  .trial-flex-card input {
    padding: 1rem 2rem;
  }
  .trial-btn {
    padding: 1rem 2rem;
  }
  .user-icon {
    left: 44%;
  }
  .date-error {
    padding: 1.2rem 0.9rem;
  }
  .name-error,
  .number-error {
    top: -65%;
    padding: 0.7rem 0.9rem;
  }
}
@media (max-width: 1435.33px) {
  .trial {
    overflow: visible !important;
    margin-bottom: 55rem;
  }
  .tiral-left {
    margin-bottom: 5rem;
  }
  .trial-top {
    max-height: 160vh !important;
  }
}
@media (max-width: 992px) {
  .trial-top {
    display: flex;
    flex-direction: column;
  }
  .user-icon {
    left: 39%;
  }
  .trial-left {
    margin-top: 19rem;
  }
  .trial-title {
    font-size: 2.5rem !important;
  }
  .react-datepicker {
    width: 23rem !important;
    margin-top: 5rem !important;
  }
  .trial-flex-card input {
    font-size: 0.95rem;
  }
  .number-error,
  .name-error {
    top: -58%;
    padding: 0.5rem 0.9rem;
  }
  .react-datepicker__month-container {
    width: 23rem !important;
  }
  .react-datepicker__week {
    display: grid !important;
    max-width: 100% !important;
    grid-template-columns: repeat(7, 1fr) !important;
  }
  .react-datepicker__day {
    padding: 0.4rem 0.5rem !important;
    font-size: 1rem !important;
    width: 2.3rem !important;
  }
  .react-datepicker__day-names {
    display: flex !important;
    text-align: center !important;
  }
  .react-datepicker__day-name {
    height: 4.5vh !important;
  }
  .trial-btn-container {
    margin: 2rem 0 7rem 0;
    display: flex;
    flex-direction: column;
  }
  .react-datepicker__current-month {
    font-size: 1.9rem !important;
  }
}
@media (min-height: 895px) {
  .react-datepicker__day-name {
    height: 4.5vh !important;
  }
}
@media (max-height: 700px) {
  .react-datepicker__day-name {
    height: 5.5vh !important;
  }
}
@media (max-width: 415px) {
  .user-icon {
    width: 17px;
  }
  .trial-flex-card input {
    padding: 1rem 1rem;
  }
  .phone-svg {
    width: 1.5rem;
    right: 2.5%;
    top: 39%;
  }
  .name-error,
  .number-error {
    font-size: 0.85rem;
    border-radius: $borderSquare;
  }
  .trial-flex-card input {
    margin-top: 0.5rem;
  }
  .name-error {
    top: -52%;
    left: 0%;
  }
  .date-error {
    top: 14%;
  }
  .number-error {
    top: -52%;
  }
  .calendar-icon {
    width: 1.5rem;
  }
}
@media (max-width: 310px) {
  .react-datepicker__week {
    display: grid !important;
    max-width: 100% !important;
    grid-template-columns: repeat(7, 1fr) !important;
  }
  .name-error,
  .number-error {
    font-size: 0.95rem;
  }
  .name-error {
    position: absolute;
    top: 6%;
    padding: 1.25rem 0.9rem;
    left: 39.6%;
    border-radius: 16px 16px 16px 0;
  }
  .datepicker-p {
    top: 42%;
    font-size: 0.95rem;
  }
  .trial-btn-container {
    margin-bottom: 17rem;
  }
  .number-error {
    position: absolute;
    top: 56%;
    right: 0.2%;
    padding: 1.25rem 0.9rem;
    border-radius: 16px 16px 16px 0;
  }
  .date-error {
    font-size: 0.85rem;
  }
  #username-input {
    margin-bottom: 0rem;
  }
  #phonenumber-input {
    margin-top: 1rem;
  }
  .trial-flex-card {
    flex-direction: column;
  }
  .user-icon {
    left: 84%;
    top: 68%;
  }
  .phone-svg {
    right: 8.5%;
    top: 19%;
  }
  .calendar-icon {
    bottom: 17%;
    right: 5.4%;
  }
  .trial-flex-card input {
    padding: 1rem 0.5rem;
  }
  .react-datepicker__day {
    padding: 0.4rem 0.1rem !important;
    font-size: 0.9rem !important;
    width: 1.7rem !important;
  }
  .react-datepicker__current-month {
    font-size: 1.7rem !important;
  }
  .react-datepicker {
    margin-top: 8rem !important;
  }
  .react-datepicker__navigation--next {
    right: 52px !important;
    height: 25px !important;
    width: 26px !important;
    top: 18px !important;
  }
  .react-datepicker__navigation--previous {
    height: 25px !important;
    width: 26px !important;
    left: 50px !important;
  }
  .react-datepicker__day-names {
    max-width: 85% !important;
    margin-left: 25px !important;
  }
  .react-datepicker__month {
    margin: 2.9rem !important;
  }
}
@media (max-width: 800px) {
  .trial-right {
    margin-top: 13rem;
  }
}
@media (max-width: 415px) {
  .trial-left {
    margin-top: 19rem;
  }
  .trial-right {
    margin-top: 4rem;
  }
}
@media (max-height: 415px) {
  .react-datepicker__day-name {
    height: 9.5vh !important;
  }
  .react-datepicker__month-container {
    margin-top: -5rem !important;
  }
  .react-datepicker__day {
    padding: 0rem 0.5rem !important;
  }
  .react-datepicker__day-names {
    margin-top: 0.7rem !important;
  }
  .react-datepicker__navigation--next {
    top: -64px !important;
  }
  .react-datepicker__navigation--previous {
    top: -64px !important;
  }
}
@media (max-height: 676px) {
  .trial-top {
    max-height: 126vh;
    margin-bottom: 14rem;
  }
  .react-datepicker__month-container {
    width: 23rem !important;
  }
}
@media (max-height: 415px) {
  .trial-left {
    margin-top: 25rem;
  }
  .trial-right {
    margin-top: 13rem;
  }
}
// end: start-trial section
