@font-face {
  font-family: "FiraGo";
  src: url("../fonts/FiraGO-Regular.ttf");
}
@font-face {
  font-family: "FiraGo SB";
  src: url("../fonts/FiraGO-SemiBold.ttf");
}
/* @font-face {
  font-family: "Contractica B";
  src: url("../fonts/TBCContractica-Bold.ttf");
}
@font-face {
  font-family: "Contractica BB";
  src: url("../fonts/TBCContractica-Black.ttf");
}
@font-face {
  font-family: "extrasquare";
  src: url("../fonts/bpg_extrasquare_mtavruli_2009.ttf");
}
@font-face {
  font-family: "bpg-banner-caps";
  src: url("../fonts/bpg-banner-caps-webfont.ttf");
} */
